<form method="POST" action="/page/appprovision/confirm">
<table class="bordered">
    <th>Дата</th>
    <th>Подразделение</th>
    <th>Наименование товара</th>
    <th>Кол-во</th>
    <th>Ед.изм</th>
    <th>Цена</th>
    <th>Валюта</th>
    <th>Срок</th>
	<th>Примечание</th>
    <th>Статус</th>
    {{ table|raw }}
</table>
<button type="submit">Сохранить</button>
</form>
