<table class="bordered">
    <th>Дата</th>
    <th>Подразделение</th>
    <th>Наименование</th>
    <th>Кол-во</th>
    <th>Ед.изм</th>
    <th>Цена</th>
    <th>Валюта</th>
    <th>Срок</th>
    <th>Статус</th>
    {{ table|raw }}
</table>