<div class="header">
    <div class="logo"><a href="/">Завод <span class="black">Кентавр</span>
            <span class="gray">г.Кандыагаш</span></a>
        <p>Производитель лучшего спирта и барды</p>
    </div>

    <ul class="nav">
        {% if m_head %}
        {{ m_head|raw }}
        {% endif %}
        {% if login %}
            <li><a href="/logout">Выход</a></li>
        {% else %}
            <li><a href="/login" {% if l %}class="active" {% endif %}>Вход</a></li>
        {% endif %}
    </ul>

</div>