        {% if xxx %}
        <!--Изображения-->
        <h2>Images</h2>
        <p><img src="/public/style/images/img1.jpg"></p>
        <!--Списки и определения-->
        <h2>Lists and Descriptions</h2>
        <div class="row">
            <div class="col">
                <ul>
                    <li>Sed ut perspiciatis unde omnis iste</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>At vero eos et accusamus et iusto</li>
                    <li>Et harum quidem rerum facilis</li>
                </ul>
            </div>
            <div class="col">
                <ol>
                    <li>Sed ut perspiciatis unde omnis iste</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>At vero eos et accusamus et iusto</li>
                    <li>Et harum quidem rerum facilis</li>
                </ol>
            </div>
            <div class="col">
                <dl>
                    <dt>Sed ut perspiciatis unde omnis iste</dt>
                    <dd>Lorem ipsum dolor sit amet</dd>
                    <dt>At vero eos et accusamus et iusto</dt>
                    <dd>Et harum quidem rerum facilis</dd>
                </dl>
            </div>
        </div>
        <!--Таблица-->
        <h2>Table</h2>
        <table class="bordered">
            <thead>
            <tr>
                <th>Purcus</th>
                <th>Hantis</th>
                <th>Mastron</th>
                <th>Jevicon</th>
                <th>Language</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Gitsome</td>
                <td>Some one</td>
                <td>Take mose</td>
                <td>Likbes</td>
                <td>Racounter</td>
            </tr>
            <tr>
                <td>Linkage</td>
                <td>Fordor</td>
                <td>Miad ron me</td>
                <td>Diablo core</td>
                <td>Tidbade</td>
            </tr>
            <tr>
                <td>Hicura</td>
                <td>Warecom</td>
                <td>Xamicon</td>
                <td>Yamama</td>
                <td>Udoricano</td>
            </tr>
            <tr>
                <td>Lavistaro</td>
                <td>Micanorta</td>
                <td>Ebloconte ma</td>
                <td>Quad ri port</td>
                <td>Timesquer</td>
            </tr>
            </tbody>
        </table>
        <!--Формы-->
        <h2>Forms</h2>
        <form>
            <div class="row">
                <label>Text:</label>
                <input type="text" placeholder="Input type text">
            </div>
            <div class="row">
                <label>Select:</label>
                <select>
                    <option>Option</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
            <div class="row">
                <label><input type="checkbox">Sed ut perspiciatis unde omnis iste natus</label>
                <label><input type="radio" name="radiobutton" value="radiobutton">Lorem ipsum dolor sit amet, consectetur</label>
            </div>
            <div class="row">
                <label>Textarea:</label>
                <textarea></textarea>
            </div>
            <div class="row">
                <button type="submit">Button</button>
            </div>
        </form>
        {% endif %}
