<form method="post" action="/login/login">
    <div class="row">
        <label>Ведите логин</label>
        <input type="text" placeholder="Login" name="login">
        <div class="row">
            <label>Ведите пароль</label>
            <input type="password" placeholder="Password" name="pass">
        </div>
        <div class="row">
            <button type="submit" name="signIn">Войти</button>
        </div>
    </div>
</form>