{% if msg %}
<h3>{{ msg }}</h3>
{% endif %}


<form method="post" action="/page/addprovision/add">
    <div class="order">
        <div><h4>Наименование</h4></div>
            <div class="num"><h4>Кол-во</h4></div>
            <div class="unit"><h4>Ед.изм</h4></div>
            <div class="cost"><h4>Цена</h4></div>
            <div class="cur"><h4>Валюта</h4></div>
            <div class="term"><h4>Срок</h4></div>
            <div><h4>Примечание</h4></div>
    </div>
    <div class="order" id="nom0">
            {{ row|raw }}
    </div>
    <div class="order" id="nom1"></div>
    <div class="order" id="nom2"></div>
    <div class="order" id="nom3"></div>
    <div class="order" id="nom4"></div>
    <div class="order" id="nom5"></div>
    <div class="order" id="nom6"></div>
    <div class="order" id="nom7"></div>
    <div class="order" id="nom8"></div>
    <div class="order" id="nom9"></div>
    <div class="order" id="nom10"></div>
    <div id="addProv">
        <h3 onclick="addProv()">+ Добавить еще товар к заявке</h3>
    </div>
    <div class="col"><button type="submit">Отправить</button></div>

</form>
