<form>
    <table class="order">
        <tr>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Ед.изм</th>
            <th>Цена</th>
            <th>Валюта</th>
            <th>Срок</th>
            <th>Примечание</th>
        </tr>
        <tr>
            <td><input type="text"></td>
            <td class="num"><input type="number"></td>
            <td class="unit"><select>
                    <option>шт</option>
                    <option>кг</option>
                    <option>комплект</option>
                    <option>литр</option>
                </select></td>
            <td class="price"><input type="number"></td>
            <td><select>
                    <option>тенге</option>
                    <option>рубль</option>
                    <option>доллар</option>
                    <option>евро</option>
                </select></td>
            <td><select>
                    <option>1-3 дня</option>
                    <option>Неделя</option>
                    <option>2 недели</option>
                    <option>Месяц</option>
                </select></td>
            <td><input type="text"></td>
        </tr>
    </table>


</form>