{% if msg %}
<h3>{{ msg|raw }}</h3>
{% endif %}

{% if content %}
{{ content|raw }}
{% endif %}


{% if button %}
<input id="tab1" class="tabs" type="radio" name="tabs" checked>
<label class="tabs"  for="tab1">Оценка</label>

<input id="tab2" class="tabs"  type="radio" name="tabs">
<label class="tabs"  for="tab2">К исполнению</label>

<input id="tab3" class="tabs"  type="radio" name="tabs">
<label class="tabs"  for="tab3">Выполнено</label>
{% endif %}

{% if eval %}
<section id="content1" class="tabs">
<form method="POST" action="{{ eval.action }}">

{{ eval.content|raw }}
    <button type="submit">Сохранить</button>

</form>
</section>
{% endif %}
{% if perf %}
<section id="content2" class="tabs">
<form method="POST" action="{{ perf.action }}">

{{ perf.content|raw }}
    <button type="submit">Сохранить</button>

</form>
</section>
{% endif %}